# clock lines
Net "clk" IOSTANDARD=LVCMOS33 | LOC="1";
Net "clk" TNM_NET=clk;
TIMESPEC TS_clk=PERIOD clk 125000 ns HIGH 50%;

# spi interface
Net "sclk" IOSTANDARD=LVCMOS33 | LOC="12";
Net "csn" IOSTANDARD=LVCMOS33 | LOC="13";
Net "miso" IOSTANDARD=LVCMOS33 | LOC="14";
Net "mosi" IOSTANDARD=LVCMOS33 | LOC="16";

# "ram control lines
Net "oen" IOSTANDARD=LVCMOS33 | LOC="5";
Net "wen" IOSTANDARD=LVCMOS33 | LOC="6";
Net "cen" IOSTANDARD=LVCMOS33 | LOC="8";

# "ram address lines
Net "addr<0>" IOSTANDARD=LVCMOS33 | LOC="37";
Net "addr<1>" IOSTANDARD=LVCMOS33 | LOC="36";
Net "addr<2>" IOSTANDARD=LVCMOS33 | LOC="34";
Net "addr<3>" IOSTANDARD=LVCMOS33 | LOC="33";
Net "addr<4>" IOSTANDARD=LVCMOS33 | LOC="32";
Net "addr<5>" IOSTANDARD=LVCMOS33 | LOC="31";
Net "addr<6>" IOSTANDARD=LVCMOS33 | LOC="30";
Net "addr<7>" IOSTANDARD=LVCMOS33 | LOC="29";
Net "addr<8>" IOSTANDARD=LVCMOS33 | LOC="20";
Net "addr<9>" IOSTANDARD=LVCMOS33 | LOC="21";
Net "addr<10>" IOSTANDARD=LVCMOS33 | LOC="38";
Net "addr<11>" IOSTANDARD=LVCMOS33 | LOC="22";
Net "addr<12>" IOSTANDARD=LVCMOS33 | LOC="28";
Net "addr<13>" IOSTANDARD=LVCMOS33 | LOC="19";
Net "addr<14>" IOSTANDARD=LVCMOS33 | LOC="27";
Net "addr<15>" IOSTANDARD=LVCMOS33 | LOC="18";
Net "addr<16>" IOSTANDARD=LVCMOS33 | LOC="23";

# "ram data lines
Net "data<0>" IOSTANDARD=LVCMOS33 | LOC="3";
Net "data<1>" IOSTANDARD=LVCMOS33 | LOC="2";
Net "data<2>" IOSTANDARD=LVCMOS33 | LOC="44";
Net "data<3>" IOSTANDARD=LVCMOS33 | LOC="43";
Net "data<4>" IOSTANDARD=LVCMOS33 | LOC="42";
Net "data<5>" IOSTANDARD=LVCMOS33 | LOC="41";
Net "data<6>" IOSTANDARD=LVCMOS33 | LOC="40";
Net "data<7>" IOSTANDARD=LVCMOS33 | LOC="39";
